  <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Fahim Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>



                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">Logout</a></li>
                        {% else %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}">Register</a></li>
                        {% endif %}

                        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown">
            Category
          </button>
          <div class="dropdown-menu">
                          <a class="dropdown-item" href="/">همه محصولات</a>
            <a class="dropdown-item" href="/Category/لپ-تاپ">لپ تاپ</a>
            <a class="dropdown-item" href="/Category/پرینتر">پرینتر</a>
            <a class="dropdown-item" href="/Category/موبایل">موبایل</a>
            <a class="dropdown-item" href="/Category/ساعت-هوشمند">ساعت هوشمند</a>
            <a class="dropdown-item" href="/Category/دوربین">دوربین</a>
            <a class="dropdown-item" href="/Category/هندزفری">هندزفری</a>
            <a class="dropdown-item" href="/Category/لوازم-کامپیوتر">لوازم کامپیوتر</a>
            <a class="dropdown-item" href="/Category/وسایل-نقلیه">وسایل نقلیه</a>
            <a class="dropdown-item" href="/Category/مانیتور">مانیتور</a>
          </div>
        </div>


                    <form class="d-flex" action="/Cart/">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
