{% extends 'base.html' %}



{% block content %}


<!--  ------------- Header Page -------------- -->

            <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-10 fw-bolder">سلام به شما به بخش ثبت نام فهیم شاپ خوش آمدید</h1>
                    <p class="lead fw-normal text-white-50 mb-0 mt-5"> ... خوشحالم که سایت مارو انتخاب کردید امیدوارم خرید های خوبی داشته باشید </p>
                </div>
            </div>
        </header>


    <div class="container mt-5">
        <form action="{% url 'Register' %}" method="post" >
    {% csrf_token %}

            {{ form.as_p }}
    <br/><br/>
    <button type="submit" class="btn btn-secondary">
        ثبت نام
    </button>


</form>
    </div>






<br/><br/><br/><br/><br/>
{% endblock %}
