{% extends 'base.html' %}



{% block content %}


<!--  ------------- Header Page -------------- -->

            <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-10 fw-bolder">Update User Password ...</h1>
                </div>
            </div>
        </header>


    <div class="container mt-5">
        <form action="{% url 'Update_Password' %}" method="post" >
    {% csrf_token %}

            {{ form.as_p }}
    <br/><br/>
    <button type="submit" class="btn btn-secondary">
         تغییر رمز عبور
    </button>


</form>
    </div>






<br/><br/><br/><br/><br/>
{% endblock %}
