{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}



<!-- Header-->

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">اینجا سبد خرید شماست</h1>
            <p class="lead fw-normal text-white-50 mb-0 mt-3">.به سبد خریدتون خوش آمدید</p>
        </div>
    </div>
</header>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
{% if cart_summary %}

{% for item in cart_summary %}



<div class="container">


    <div class="card mb-3 p-5">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 bg-info">
                <div class="card-body">
                    {% csrf_token %}
                    <h5 class="card-title text-right">{{ item.name }}</h5>
                    <p class="card-text text-right m-2">{{ item.description }}</p>
                    {% if item.is_sale %}
                    <h6 style="text-decoration: line-through" class="text-center mt-5">{{ item.price | intcomma }} : قبل از تخفیف</h6>

                    <ins>
                        <h6 class="text-center " style="color: white ; font-weight: bold">{{ item.sale_price | intcomma }} : بعد از تخفیف</h6>
                    </ins>
                    {% else %}
                    <hr />
                    <ins>
                        <h6 class="text-center">{{ item.price | intcomma }} : قیمت</h6>
                    </ins>
                    {% endif %}

                    <p class="text-center">ID = {{ item.id }}</p>

                    <div class="row justify-content-center col-md-10 ml-5">
                        <div class="col-md-3 mt-1 ml-5">Quantity :</div>
                        <div class="col-md-3">
                            <select class="form-select  form-select-sm" id="select{{ item.id }}">
                                <option>

                                    {% for key , value in qty.items %}

                                            {% if key == item.id|slugify %}

                                                {{ value }}

                                            {% endif %}
                                    {% endfor %}


                                </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>


                </div>
                <a href="/Product/{{ item.id }}" class="btn btn-success p-3 mt-3 mb-3">اطلاعات بیشتر</a>
                <button class="btn btn-secondary update-cart p-3 mt-3 mb-3"  type="button" data-index= "{{ item.id }}">Update</button>
                <button class="btn btn-danger delete-cart p-3 mt-3 mb-3"  type="button" data-index= "{{ item.id }}">Delete</button>

            </div>
        </div>
    </div>
</div>


{% endfor %}
<br/><br/><br/><br/>
<hr class="bg-danger" style="height: 5px ; margin-bottom: 5px ; opacity: 1" />
    <div class="bg-primary p-5" >
    <strong class="float-start" style="font-size: 30px ; margin: 30px;">
    Total :
</strong>
    <h3 class="" style=" font-size: 30px ; text-align: center; padding: 30px ; font-weight:700; " >{{ totals|intcomma }} تومان</h3>
                <h2 class="text-end mt-5 mr-5 ml-5" style="width: 30px ; height: 30px"><a class="btn btn-success" href="{% url 'Checkout_Payment' %}">Checkout</a></h2>

</div>
<hr class="" style=" background-color: blue; height: 5px ; margin-top: 5px ; margin-bottom: 5px ; opacity: 1" />


{% else %}
<h2>Empty ...</h2>
{% endif %}

 <script src="/static/js/jquery.js"></script>
<script>
    // Update the Cart
    $(document).on('click' , '.update-cart' , function (e){
        e.preventDefault()
        // Get the Data
        var productid= $(this).data('index');
        $.ajax({
            type:'POST',
            url : '{% url "Cart_Update" %}',
            data : {
                product_id : $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action : "post"
            },

            success : function (json) {
                location.reload();
            },

            error : function (xhr , err , errmsg){
                console.log(xhr)
            }



        })
    })


    // Delete the Cart
    $(document).on('click' , '.delete-cart' , function (e){
        e.preventDefault()
        $.ajax({
           type: 'POST',
           url: '{% url "Cart_Delete" %}',
           data: {
               product_id: $(this).data('index'),
               csrfmiddlewaretoken : '{{ csrf_token }}',
               action : 'post',
           },

           success : function (json) {
                location.reload();
           },

           error : function (xhr , err , errmsg){
               console.log(xhr)
           }
        });
    })



</script>


{% endblock %}